* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

html {
    background-color: rgb(215, 216, 216);
}

body {
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    width: 330px;
    background-color: white;
    display: block;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px rgb(130, 146, 151);

    .container-img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 10px auto 10px auto;
        
        img {
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
    }
}

h1, p {
    text-align: center;
    padding: 0 20px;
}

h1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    padding: 20px 35px;
    margin-bottom: 30px;
    color: rgb(136, 135, 135)
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 10px;

    a {
        color: blue;
        font-weight: 700;
    }
}

