html {
    box-sizing: content-box;
    max-width: 1440px;
    min-width: 360px;
    margin: 0 auto;
}

body, main, header {
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 30px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

main {
    text-align: left;
    padding: 0 20px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
    --bs-link-color:: transparent;
}

h1 {
    color: rgb(62, 84, 163);
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 1.5rem;
    margin: 50px 0;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.card-image {
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
}

.card-image img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease 0s;
}

.card-image img:hover {
	transform: scale(1.1);
} 


.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-align: justify;
}

.card-content h3 {
    text-align: left;
    font-size: 1.5rem;
}

.html {
    color: red;
}

.css {
    color: blue;
}

.js {
    color: gold;
}

.card-content-link {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}

.card-content-link a {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
}

.card-content-link a:hover {
    cursor: pointer;
    opacity: 0.8;
}

footer {
    text-align: center;
    background-color: rgb(62, 84, 163);
    color: white;
    padding: 30px 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons svg {
    margin: 0 10px;
    transition: 0.5s ease 0s;
}

.icons svg:hover {
    opacity: 0.5;
    color: black;
}

@media screen and (max-width: 426px) {
    .container-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin: 50px 0;
    }

    footer {
        flex-direction: column;
    }
}